## notebook to fix offset timing of tsv files

some of the files exported by the feature visualizer have incorrect timing due to "offset". this will repair them for now. the feature visuzlier bug is fixed 4/19/22

In [3]:
import pandas as pd
import os

In [25]:
tsv_dir='../sourcedata/data/merlin/features/convert_tsvs'

In [26]:
df=pd.read_csv(f'{tsv_dir}/merlin/any_faces_edited.tsv', sep='\t')

df['onset'] = df['onset'] + 25.5

df.to_csv(f'{tsv_dir}/merlin/any_faces_edited.tsv', index=False, sep="\t")

In [27]:
df=pd.read_csv(f'{tsv_dir}/merlin/speech_edited.tsv', sep='\t')

df['onset'] = df['onset'] + 25.5

df.to_csv(f'{tsv_dir}/merlin/speech_edited.tsv', index=False, sep="\t")

### fix a folder of files

In [7]:
tsv_dir='/om2/scratch/Wed/jsmentch/convert_tsv/Budapest Speech/'

In [ ]:
pd.read_csv(f'{tsv_dir}/{f}', sep='\t')

In [6]:
files = [f for f in os.listdir(tsv_dir) if os.path.isfile(os.path.join(tsv_dir, f))]
for f in files:
    df=pd.read_csv(f'{tsv_dir}/{f}', sep='\t')
    df['onset'] = df['onset'] + 10
    df.to_csv(f'{tsv_dir}/{f}', index=False, sep="\t")

In [8]:
df

      onset  duration  value
0      10.0       0.1      0
1      10.1       0.1      0
2      10.2       0.1      0
3      10.3       0.1      0
4      10.4       0.1      1
...     ...       ...    ...
5768  586.8       0.1      0
5769  586.9       0.1      0
5770  587.0       0.1      0
5771  587.1       0.1      0
5772  587.2       0.1      0

[5773 rows x 3 columns]