## notebook to load merlin parcels and export them as tsv for feature visualizer

In [13]:
import nibabel as nb
import nilearn as nl
import hcp_utils as hcp
import numpy as np
import pandas as pd

In [2]:
parcel_dir='/om2/user/jsmentch/projects/nat_img/sourcedata/data/merlin/brain/merlin_cifti_clean_smooth_mmp'

im_file = f'{parcel_dir}/parcellated_sub-19_clean_smooth_task-MerlinMovie_space-fsLR_den-91k_bold.ptseries.nii'
img = nb.load(im_file)
img_y = img.get_fdata()
#img_y = scaler.fit_transform(img_y)

In [3]:
tr_length,parcel_number=img_y.shape

In [37]:
for i in np.arange(parcel_number):
    label=hcp.mmp['labels'][i+1] #odd that 0 is nothing '' ??? why?
    timecourse=img_y[:,i]
    onset=np.arange(timecourse.shape[0])*1.5
    duration=np.ones(timecourse.shape[0])+0.5
    data=np.column_stack((onset,duration,timecourse))
    df=pd.DataFrame(data,columns=['onset','duration',label])
    df.to_csv(f'../outputs/parcel_timecourse_tsv/merlin_sub19_{label}.tsv', index=False, sep="\t")

In [12]:
timecourse.shape

(1030,)

In [17]:
pd.DataFrame(timecourse)

             0
0     1.058749
1     0.880680
2     0.713073
3     0.545386
4     0.356299
...        ...
1025 -0.189445
1026 -0.158725
1027  0.260134
1028  1.139362
1029  2.334185

[1030 rows x 1 columns]

array([1.5, 1.5, 1.5, ..., 1.5, 1.5, 1.5])